bison/lex.yy.c
bison/lex.yy.o
bison/tcc
bison/y.output
bison/y.tab.c
bison/y.tab.h
bison/y.tab.o
bison/sample/lex.yy.c
bison/sample/lex.yy.o
bison/sample/tcc
bison/sample/test.asm
bison/sample/y.output
bison/sample/y.tab.c
bison/sample/y.tab.h
bison/sample/y.tab.o
